In [1]:
import numpy as np
import pandas as pd

In [7]:
df2 = pd.read_csv('new_train_proteins_filled.csv')
df

,Unnamed: 0,patient_id,visit_month,O00391,O00533,O00584,O14498,O14773,O14791,O15240,...,Q9HDC9,Q9NQ79,Q9NYU2,Q9UBR2,Q9UBX5,Q9UHG2,Q9UKV8,Q9UNU6,Q9Y646,Q9Y6R7
0,0,55,0,11254.30,732430.0,39585.8,41526.9,31238.00,4202.71,177775.0,...,365475.0,35528.0,97005.6,23122.5,60912.6,408698.0,NaN,29758.80,23833.7,18953.5
1,1,55,6,13163.60,630465.0,35220.8,41295.0,26219.90,4416.42,165638.0,...,405676.0,30332.6,109174.0,23499.8,51655.8,369870.0,NaN,22935.20,17722.5,16642.7
2,2,55,12,15257.60,815083.0,41650.9,39763.3,30703.60,4343.60,151073.0,...,303953.0,43026.2,114921.0,21860.1,61598.2,318553.0,65762.6,29193.40,28536.1,19290.9
3,3,55,36,13530.80,753832.0,43048.9,43503.6,33577.60,5367.06,101056.0,...,303597.0,48188.4,109794.0,23930.6,70223.5,377550.0,74976.1,31732.60,22186.5,21717.1
4,4,1517,0,11648.90,419015.0,35053.8,NaN,17466.30,2784.40,118752.0,...,306280.0,24931.3,NaN,12610.9,40018.9,164826.0,55379.8,31563.00,19771.6,14699.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1108,1108,7508,48,9459.04,599910.0,39554.4,28324.8,6495.71,4243.80,148324.0,...,192102.0,70826.7,131044.0,12605.6,30055.9,293101.0,105122.0,18071.70,13528.0,19555.6
1109,1109,12931,24,13045.70,473983.0,26181.8,21605.9,18449.90,1579.97,127911.0,...,228731.0,30628.6,124550.0,12630.7,29073.0,237815.0,NaN,9965.31,16533.9,12181.4
1110,1110,12931,36,10105.70,462621.0,23895.3,24428.7,22202.60,2508.21,98234.9,...,163824.0,25880.8,152981.0,17039.1,30992.0,222541.0,22230.7,NaN,17310.2,19139.8
1111,1111,12931,48,14611.60,593385.0,25331.3,26252.1,22012.40,2319.27,139380.0,...,66775.4,37489.6,125942.0,10825.0,36383.9,261554.0,NaN,10579.00,16915.3,19630.0
1112,1112,12931,60,13686.40,594355.0,25997.8,26057.9,24431.60,NaN,142300.0,...,664635.0,54498.7,143639.0,16297.0,35272.3,224459.0,NaN,16445.30,20072.1,16698.1